body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f8f4;
}
.chatbot-message {
  max-width: 80%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 18px;
}
.user-message {
  background-color: #e2fde8;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}
.bot-message {
  background-color: #f1f1f1;
  margin-right: auto;
  border-bottom-left-radius: 4px;
}
.tab-active {
  border-bottom: 3px solid #16a34a;
  color: #16a34a;
  font-weight: 600;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.tab:hover:not(.tab-active) {
  background-color: #e6e6e6;
  border-radius: 5px 5px 0 0;
}
